@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Core.Models
@{
    Layout = "tBase.cshtml";
	var cContent = CurrentPage.Children("dtCompanyContent").Where("Visible").First();

    string mediaObr;
    try
    {
        var media = Umbraco.Media(cContent.cBackground);
        mediaObr = media != null ? (string)media.umbracoFile : "/media/layout/bgr-subpage-default.jpg";
    }
    catch
    {
        mediaObr = "/media/layout/bgr-subpage-default.jpg";
    }
}


<div id="aBody" class="subpage-hover">
    <div id="tBody" style="background-image:url('@(mediaObr)')" @*style="background-image:url('@(cContent.cBackground)?height=65')"*@>
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <span class="tBody_hlText">@CurrentPage.Name</span>
                    <br />
                    <span class="tBody_vText">@cContent.cSubTitle</span>
                </div>
            </div>
        </div>
    </div>
    <div id="cBody">
        <div class="cBody_tabs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="col-md-4">
                            <div id="divAdvertisementList" class="tab">
                                Nabídka práce @{ Html.RenderPartial("pvCountCompanyAdvertisements"); }
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="divAboutCompany" class="tab">
                                O společnosti
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cBody_content">
            <div class="container">
                <div id="advertisementList" class="row">
                    @{ Html.RenderPartial("pvCompanyAdvertisementList"); }
                </div>
                <div id="aboutCompany" class="row">
                    @cContent.cContent
                </div>
            </div>
        </div>
    </div>
    <div id="bBody">
        <div class="container">
            <div class="row">
                @{ Html.RenderPartial("pvFirstStepRegistration"); }
            </div>
        </div>
    </div>
</div>
