@*inherits Umbraco.Web.Mvc.UmbracoTemplatePage*@
@using JobsplusUmbraco.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<AdvertisementList>
@{
    Layout = "tBase.cshtml";
    var IsTOP = StringToBoolen(@Request.QueryString["IsTOPAdvertisement"]);
}
@using (Html.BeginForm("tFindJob", "FindJob"))
{
    <div id="aBody" class="subpage-hover">
        <div id="tBody" @*style="background-image:url('@(CurrentPage.logoCompany)?height=65')"*@>
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="tBody_hlText">
                            Najít práci
                        </div>
                        <span class="tBody_vText">VYHLEDÁVÁNÍ PRACOVNÍCH MÍST</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="cBody">
        <div class="cBody_content">
            <div id="findJobForm">
                <div class="container">
                    <div class="row" style="@(IsTOP ? "display:none" : "")">
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.region, Model.slRegions)
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.workingField, Model.slWorkingFields)
                        </div>
                        <div class="col-md-4">
                            @Html.CheckBoxFor(model => model.IsZTP) Pouze ZTP
                            <input type="submit" value="Vyhledat" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 advertisementList">
                        @if (Model.lAdvertisements.Count() > 0)
                        {
                            foreach (var advertisement in Model.lAdvertisements)
                            {
                                <div class='row advertisementItem @(advertisement.TOP ? "top" : "")'>
                                    <div class="col-md-12">
                                        <div class="row advertisementBody">
                                            <div class="col-md-8">
                                                <div class="row">
                                                    @advertisement.Company
                                                </div>
                                                <div class="row">
                                                    <h4><a href="@advertisement.Url">@advertisement.Name</a></h4>
                                                </div>
                                                <div class="row advertisementPlace">
                                                    <span>@advertisement.City, </span><span>@advertisement.Region</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 text-right">
                                                <div class="row">
                                                    <a href="@advertisement.Url" class="btn btn-default violet">Detail</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row advertisementBottom">
                                            <div class="col-md-4 col-sm-6"><span>Vzdělání</span> @advertisement.RequiredEducation</div>
                                            <div class="col-md-6 col-sm-6"><span>Typ</span> @advertisement.TypeOfWork</div>
                                            <div class="col-md-2"><span>ZTP</span> @(advertisement.ZTP ? "ANO" : "NE") </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="noAdvertisements">pro vyhledání inzerátů použijte filtr</div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="bBody">
        <div class="container">
            <div class="row">
                @{ Html.RenderPartial("pvFirstStepRegistration"); }
            </div>
        </div>
    </div>
}
@functions {
    public static bool StringToBoolen(string item)
    {
        return (item == "YES" || item == "TRUE" || item == "1");
    }
}