@using JobsplusUmbraco.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<AdvertisementList>
@{
    Layout = "tBase.cshtml";
    var IsTOP = StringToBoolen(@Request.QueryString["IsTOPAdvertisement"]);
}
@using (Html.BeginForm("tFindBrigade", "FindJob"))
{
    <div id="aBody" class="subpage-hover">
        <div id="tBody" @*style="background-image:url('@(CurrentPage.logoCompany)?height=65')"*@>
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="tBody_hlText">
                            Najít brigádu, stáž nebo praxi
                        </div>
                        <span class="tBody_vText">VYHLEDÁVÁNÍ VOLNÝCH POZIC</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="cBody">
        <div class="cBody_content">
            <div id="findJobForm">
                <div class="container">
                    <div class="row" style="@(IsTOP ? "display:none" : "")">
                        <div class="col-md-3" id="searchFulltext">
                            @Html.TextBox("fulltext", Model.fulltext, new { @class = "searchbox form-control", placeholder = "Pozice?" })
                        </div>
                        <div class="col-md-3" id="searchRegions">
                            @Html.DropDownListFor(model => model.region, Model.slRegions)
                        </div>
                        <div class="col-md-3 text-right" id="searchTypeOfWorks">
                            @Html.DropDownListFor(model => model.typeOfWork, Model.slTypeOfWork)
                        </div>
                        <div class="col-md-3 text-right">
                            <input type="submit" class="btn btn-default violet" value="Vyhledat" />
                            <a href="/najit-praci/" class="btn btn-default gray">Zrušit filtr</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" id="searchWorkingFields">
                            @Html.DropDownListFor(model => model.workingField, Model.slWorkingFields)
                        </div>
                        <div class="col-md-3 text-right">
                            @Html.CheckBoxFor(model => model.IsZTP) <label for="IsZTP">vhodné pro OZP</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 advertisementList">
                        @if (Model != null && Model.lAdvertisements != null && Model.lAdvertisements.Count() > 0)
                        {
                            var count = Model.lAdvertisements.Count();
                            var txt1 = "Nalezeno";
                            var txt2 = "pracovních pozic";
                            if (count == 1)
                            {
                                txt1 = "Nalezena";
                                txt2 = "pracovní pozice";
                            }
                            else if (count < 5)
                            {
                                txt1 = "Nalezeny";
                                txt2 = "pracovní pozice";
                            }
                            <div class="info">@txt1 <b><i>@Model.lAdvertisements.Count()</i></b> @txt2 odpovídající Vašim požadavkům.</div>
                            foreach (Advertisement advertisement in Model.lAdvertisements)
                            {
                                <div class='row advertisementItem @(advertisement.TOP ? "top" : "")'>
                                    <div class="col-md-12">
                                        <div class="row advertisementBody">
                                            <div class="@(!string.IsNullOrEmpty(advertisement.CompanyLogo) ? "col-md-8" : "col-md-10") col-sm-8 advertisementName">
                                                <div class="row">
                                                    @advertisement.Company
                                                </div>
                                                <div class="row">
                                                    <h4>
                                                        @if (advertisement.TOP)
                                                        {
                                                            <span class="topSign">TOP</span>
                                                        }
                                                        <a href="@advertisement.Url"><b>@advertisement.Name</b></a>
                                                    </h4>
                                                </div>
                                                <div class="row advertisementPlace">
                                                    <span>@advertisement.City, </span><span>@(advertisement.Region != null ? advertisement.Region.Name : "neuvedeno")</span>
                                                </div>
                                            </div>
                                            @if (!string.IsNullOrEmpty(advertisement.CompanyLogo))
                                            {
                                                <div class="col-md-2 col-sm-4 advertisementCompany" style="height: 90px">
                                                    <div style="margin: 0 auto">
                                                        <a href="@advertisement.CompanyUrl" class="obr center" style="line-height: 90px; height: 90px">
                                                            <span><img src="@advertisement.CompanyLogo" alt="@advertisement.Company" style="max-height: 90px" /></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            }
                                            <div class="col-md-2 text-right">
                                                <div class="row">
                                                    <a href="@advertisement.Url" class="btn btn-default violet">Detail</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row advertisementBottom">
                                            <div class="col-md-4 col-sm-6"><span>Vzdělání</span> @(advertisement.RequiredEducation != null ? advertisement.RequiredEducation.Name : "neuvedeno")</div>
                                            <div class="col-md-4 col-sm-6 text-center"><span>Typ</span> @(advertisement.TypeOfWork != null ? advertisement.TypeOfWork.Name : "neuvedeno")</div>
                                            <div class="col-md-4 text-right"><span>OZP</span> @(advertisement.ZTP ? "ANO" : "NE") </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="info"><b><i>Pro zadané paramtery jsme nenalezli žádné inzeráty.</i></b></div>
                            <div class="noAdvertisements">Pro nové vyhledání inzerátů použijte filtr...</div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="bBody">
        <div class="container">
            <div class="row">
                @{ Html.RenderPartial("pvFirstStepRegistration"); }
            </div>
        </div>
    </div>
}
@functions {
    public static bool StringToBoolen(string item)
    {
        return (item == "YES" || item == "TRUE" || item == "1");
    }
}

<script src="/scripts/dropdownSearchable.js"></script>