@using JobsplusUmbraco.Models
@using Jobsplus.Backoffice.Models
@using Jobsplus.Backoffice.Controllers
@using Umbraco.Core.Persistence
@*inherits Umbraco.Web.Mvc.UmbracoViewPage<AdvertisementList>*@
@model IEnumerable<JobsplusUmbraco.Models.Advertisement>

@{
    var success = TempData["AdvertisementSubmitIsSuccess"] != null;
}

@functions { 
    public List<AdvertisementReply> GetReplies(int advertisementId)
    {
        DBContextController DBContext = new DBContextController();
        //return AdvertisementReply.GetAdvertisementReplies(advertisementId, ApplicationContext.DatabaseContext.Database);
        return DBContext.GetAdvertisementReplies(advertisementId);
    }

    public string CountReplies(int advertisementId)
    {
        var replies = GetReplies(advertisementId);
        return replies.Count().ToString() + "/" + replies.Count(i => i.IsViewed.Equals(false));
    }
}

@if (success)
{
    <div class="alert alert-success" role="alert">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> &nbsp;
                @if (TempData["AdvertisementSubmitIsSuccess"] == "save") { <span>Inzerát byl uložen!</span> }
                @if (TempData["AdvertisementSubmitIsSuccess"] == "delete") { <span>Inzerát vymazán!</span> }
            </div>
            <div class="col-md-6 col-sm-6 text-right"><a href="@Url.Action("CloseSuccessMessage", new { url = Request.RawUrl })">Zavřít</a></div>
        </div>
    </div>
 }

<div class="row">
    <div class="col-md-12"><a href=@("http://" + Request.Url.Authority + "/firma/inzeraty/detail/") class="btn btn-default violet">Vložit inzerát</a></div>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("List", "Advertisement"))
        {
            if (/*Model.lAdvertisements.Count() > 0*/Model.Count() > 0)
            {
                <table class="list">
                    <tr>
                        <th>Název</th>
                        <th>TOP?</th>
                        <th>Vydáno</th>
                        <th>Reakcí (celkem/nových)</th>
                        <th>&nbsp;</th>
                    </tr>
                    @{ var odd = true; }
                    @foreach (var advertisement in Model/*Model.lAdvertisements*/)
                    {
                        <tr class="@(odd ? "odd": "even")">

                            <td><a href="@advertisement.Url" target="_blank" title="Zobrazit inzerát na webu...">@advertisement.Name</a></td>
                            <td>@(advertisement.TOP ? "<i class=\"fa fa-check\"></i>" : "")</td>
                            <td>@advertisement.CreateDate</td>
                            <td>@CountReplies(advertisement.ID)</td>
                            <td class="text-right">
                                <a href=@("http://" + Request.Url.Authority + "/firma/inzeraty/detail?ID=" + advertisement.ID) class=" btn btn-default violet">Detail</a>                                
                                <a href="@Url.Action("Delete", new { advertisement.ID })" class="btn btn-default gray" onclick="return confirm('Opravdu smazat?')">Smazat</a>
                            </td>
                        </tr>
                        odd = !odd;
                    }
                </table>
            }
            else
            {
                <div class="noAdvertisements">firma nemá zadané žádné inzeráty</div>
            }
        }
    </div>
</div>

