@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ var home = CurrentPage.Site();}
@{ var newsList = home.Children("dtNewsList").Where("Visible"); }
@if (newsList.Any())
{
    <br />
    <div class="col-md-12">
        @{ var newsAll = newsList.First().Children.Where("Visible"); }
        <div class="row">
            @foreach (var news in newsAll.OrderBy("nDate descending"))
            {
				var companyNode = Umbraco.Content(news.nCompanyNodeId);
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="@news.Url"><img src="@news.GetCropUrl("nThumbnail", "thumbnail")" alt="@news.Name" /></a>
                        <div class="caption">
                            <h3><a href="@news.Url">@news.Name</a></h3>
                            <p>@news.nDescription</p>
							<p class="date">Vydal <a href="@companyNode.Url">@companyNode.Name</a> dne @news.nDate.ToString("dd.MM.yyyy")</p><br />
                            <p class="center"><a href="@news.Url" class="btn btn-default violet" role="button">Přečíst článek</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
