@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web
@using Umbraco.Core.Models
@{
    var company = CurrentPage.Parent.Parent;
    var region = CurrentPage.aRegion;
    var workingField = CurrentPage.aWorkingField;
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var advertisements = Umbraco.TypedContentAtXPath("//dtAdvertisement");
}
@if (advertisements.Any())
{
    var similarAdvertisement = advertisements.Where("aWorkingField.Contains(\"" + (string)workingField + "\")").Where("aRegion.Contains(\"" + (string)region + "\")");
    <div class="col-md-12 advertisementList">
        @foreach (var advertisement in similarAdvertisement.OrderBy("createDate descending").OrderBy("aTop descending"))
        {
            var itemAdvertisement = (IPublishedContent)umbracoHelper.TypedContent(Convert.ToInt32(@advertisement.Id));
            var IsTop = Convert.ToBoolean(itemAdvertisement.GetPropertyValue("aTop"));
            <div class='row advertisementItem @(IsTop ? "top" : "")'>
                <div class="col-md-12">
                    <div class="row advertisementBody">
                        <div class="col-md-8">
                            <div class="row">
                                @itemAdvertisement.Parent.Parent.Name
                            </div>
                            <div class="row">
                                <h4><a href="@itemAdvertisement.Url">@itemAdvertisement.Name</a></h4>
                            </div>
                            <div class="row advertisementPlace">
                                <span>@itemAdvertisement.GetPropertyValue("aCity"), </span><span>@itemAdvertisement.GetPropertyValue("aRegion")</span>
                            </div>
                        </div>
                        <div class="col-md-4 text-right">
                            <div class="row">
                                <a href="@itemAdvertisement.Url" class="btn btn-default violet">Detail</a>
                            </div>
                        </div>
                    </div>
                    <div class="row advertisementBottom">
                        <div class="col-md-4 col-sm-6"><span>Vzdělání</span> @itemAdvertisement.GetPropertyValue("aRequiredEducation")</div>
                        <div class="col-md-6 col-sm-6"><span>Typ</span> @itemAdvertisement.GetPropertyValue("aTypeOfWork")</div>
                        <div class="col-md-2"><span>ZTP</span> @(itemAdvertisement.GetPropertyValue("aZtp") == "1" ? "ANO" : "NE") </div>
                    </div>
                </div>
            </div>
        }
        @if (similarAdvertisement.Count() <= 0)
        {
            <div class="noAdvertisements">nenalezeny žádné podobné inzeráty</div>
        }
    </div>
}
