@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web
@using Umbraco.Core.Models

@{ 
	var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
	var home = CurrentPage.Site();
   	var companyList = home.Children("dtCompanyList").Where("Visible"); 
	var companiesSort = new Dictionary<int, bool>();
}

@if (companyList.Any())
{
    var companiesAll = companyList.First().Children.Where("Visible");
	<div class="col-md-12">
	@foreach (var company in companiesAll.OrderBy("createDate descending").OrderBy("cTop descending").Take(10))
    {
        var cContent = company.Children().Where("Visible");
        if (cContent.Any())
        {
            var cAdvertisement = cContent.First().Children.Where("Visible");
            if (cAdvertisement.Any())
            {
                <div class='row @(company.cTop ? "top" : "")'>
                    <a class="underline lightblue" href="@company.Url">@company.Name</a> <span class="countInfoAdvert">(@cAdvertisement.Count())</span>
                </div>
            }
        }
    }
	@*@{ var companiesTop = companies.Children.Where("topCompany == true");}
	@{ var companiesNoTop = companies.Children.Where("topCompany != true");}*@
	</div>
}

@*if (companyList.Any())
{
	var companiesAll = companyList.First().Children.Where("Visible");
	foreach (var company in companiesAll)
	{
		var cContent = company.Children("dtCompanyContent").Where("Visible");
		if (cContent.Any())
		{
			companiesSort.Add(@company.Id, @cContent.First().cTop);
		}  
	}
}


@foreach (KeyValuePair<int, bool> companySort in companiesSort.OrderByDescending(key => key.Value))
{
	var itemCompany = (IPublishedContent)umbracoHelper.TypedContent(@companySort.Key);
    var cContent = itemCompany.Children().Where("Visible");
	var IsTop = companySort.Value;
	if (cContent.Any())
	{
		var cAdvertisement = cContent.First().Children.Where("Visible");
		if (cAdvertisement.Any())
		{
			<div class='row @(IsTop ? "top" : "")'>
				<a class="underline lightblue" href="@itemCompany.Url">@itemCompany.Name</a> <span class="countInfoAdvert">(@cAdvertisement.Count())</span>
			</div>
		}
	}
}*@