@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web
@using Umbraco.Core.Models

@{
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var advertisements = Umbraco.TypedContentAtXPath("//dtAdvertisement"); 
    var count = advertisements.Count() - 10;
}

@if (advertisements.Any())
{
    <div class="col-md-12 advertisementList">
        @foreach (var advertisement in advertisements.OrderBy("createDate descending").OrderBy("aTop descending").Take(10))
        {
            var itemAdvertisement = (IPublishedContent)umbracoHelper.TypedContent(Convert.ToInt32(@advertisement.Id));
            var IsTop = Convert.ToBoolean(itemAdvertisement.GetPropertyValue("aTop"));
            <div class='row advertisementItem @(IsTop ? "top" : "")'>
                <div class="col-md-12">
                    <div class="row advertisementBody">
                        @{
                            IPublishedContent mediaLogo;
                            var company = itemAdvertisement.Parent;
                            string className = "col-md-10 col-sm-12";
                        }
                        @try
                        {
                            mediaLogo = Umbraco.Media((int)company.GetPropertyValue("cLogo"));
                        }
                        catch
                        {
                            mediaLogo = null;
                        }
                        @if (mediaLogo != null && mediaLogo.DocumentTypeAlias == "Image")
                        {
                            className = "col-md-8 col-sm-8";
                        }
                        <div class="@className">
                            <div class="row">
                                @itemAdvertisement.Parent.Parent.Name
                            </div>
                            <div class="row">
                                <h4>
                                    @if (IsTop)
                                    {
                                        <span class="topSign">TOP</span>
                                    }
                                    <a href="@itemAdvertisement.Url">@itemAdvertisement.Name</a>
                                </h4>
                            </div>

                            <div class="row advertisementPlace">
                                <span>@itemAdvertisement.GetPropertyValue("aCity"), </span><span>@itemAdvertisement.GetPropertyValue("aRegion")</span>
                            </div>
                        </div>
                        @if (mediaLogo != null && mediaLogo.DocumentTypeAlias == "Image")
                        {
                            @RenderImage(mediaLogo, company.Parent.Url);
                        }
                        <div class="col-md-2 col-sm-12 text-right">
                            <div class="row">
                                <a href="@itemAdvertisement.Url" class="btn btn-default violet">Detail</a>
                            </div>
                        </div>
                    </div>
                    <div class="row advertisementBottom">
                        <div class="col-md-4 col-sm-6"><span>Vzdělání</span> @itemAdvertisement.GetPropertyValue("aRequiredEducation")</div>
                        <div class="col-md-6 col-sm-6"><span>Typ</span> @itemAdvertisement.GetPropertyValue("aTypeOfWork")</div>
                        <div class="col-md-2"><span>ZTP</span> @(itemAdvertisement.GetPropertyValue("aZtp") == "1" ? "ANO" : "NE") </div>
                    </div>
                </div>
            </div>
        }
        @*@{ var companiesTop = companies.Children.Where("topCompany == true");}
            @{ var companiesNoTop = companies.Children.Where("topCompany != true");}*@
    </div>
    if (count > 0)
    { 
    <div class="col-md-12 text-center">
        <a href="/najit-praci/" class="btn btn-default violet">Dalších <b><i>@count</i></b> inzerátů</a>
    </div>
    }
}


        @helper RenderImage(dynamic item, string url)
{
        <div class="col-md-2 col-sm-4" style="height: 90px">
            <div style="margin: 0 auto">
                <a href="@url" class="obr center" style="line-height: 90px; height: 90px">
                    <span><img src="@item.umbracoFile" alt="@item.Name" style="max-height: 90px" /></span>
                </a>
            </div>
        </div>
}
