@inherits Umbraco.Web.Macros.PartialViewMacroPage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@using JobsplusUmbraco.Models
@using JobsplusUmbraco.Controllers

@{
    // macro params
    var roleName = Model.MacroParameters["RoleName"].ToString();
    var roleMainNodeId = Model.MacroParameters["RoleMainNodeId"];
    var mainNode = Umbraco.Content(roleMainNodeId);
    // other
    var loginStatusModel = Members.GetCurrentLoginStatus();
    var loginModel = new JobsplusUmbraco.Models.LoginModel(roleName);
    var logoutModel = new PostRedirectModel();
    logoutModel.RedirectUrl = "/";

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}
@Html.RenderJsHere()

<h2 class="violet-color uppercase">Přihlásit se - @roleName</h2>
<p>Pro vstup do VIP zóny se přihlašte pomocí emailu a&nbsp;hesla, které jste si&nbsp;zvolili při&nbsp;registraci.</p><br />

@if (!loginStatusModel.IsLoggedIn)
{
    using (Html.BeginUmbracoForm<LoginController>("HandleLogin"))
    {
        <div class="form-group">
            @Html.ValidationSummary("loginModel", true)

            @Html.LabelFor(m => loginModel.Username, "E-mail (přihlašovací jméno)")
            @Html.TextBoxFor(m => loginModel.Username, new { @class = "form-control", placeholder = "Email" })
            @Html.ValidationMessageFor(m => loginModel.Username)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => loginModel.Password, "Heslo")
            @Html.PasswordFor(m => loginModel.Password, new { @class = "form-control", placeholder = "Heslo" })
            @Html.ValidationMessageFor(m => loginModel.Password)
        </div>
        @Html.HiddenFor(m => loginModel.RoleName);
    <button class="btn btn-default violet">Přihlásit se</button>

    }
}
else
{
    <div>
        <div class="well">
            <p>Vidíme, že jste již přihlášen(a) jako <b>@loginStatusModel.Name</b>.</p><br />
            <div class="row">
                <div class="col-md-12">
                    @{
                        var roles = Roles.GetRolesForUser(loginStatusModel.Username);
                    }
                    @if (roles.Count() > 0)
                    {
                        <p>Váš účet má následující role:</p>
                        <ul>
                            @foreach (var role in roles)
                            {
                                <li>@role</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>Nemáte přiřazeny žádné role.</p>
                    }
                </div>
                <div class="col-md-12 text-right">
                    @using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout"))
                    {
                        <button class="btn btn-default gray" style="float:right; margin-left: 5px">Odhlásit</button>

                        @Html.HiddenFor(m => Model.Content.Url)
                    }
                @if (roles.Contains("Zájemce o práci"))
                {
                    <a href="/uzivatel/" class="btn btn-default violet">Můj profil</a>
                }
                @if (roles.Contains("Správce firmy"))
                {
                    <a href="/firma/" class="btn btn-default violet">V.I.P. zóna</a>
                }
                </div>
            </div>
        </div>
    </div>
}
