@inherits Umbraco.Web.Macros.PartialViewMacroPage

@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@using JobsplusUmbraco.Models
@using JobsplusUmbraco.Controllers
@{
    // macro params
    var redirectUrlNodeId = Model.MacroParameters["RedirectUrlNodeId"].ToString();
    var redirectUrl = "";
    if (!redirectUrlNodeId.IsNullOrWhiteSpace())
    {
        try
        {
            redirectUrl = umbraco.library.NiceUrl(Convert.ToInt32(redirectUrlNodeId));
        }
        catch
        {
            redirectUrl = "";
        }
    }
    // other
    var loginStatusModel = Members.GetCurrentLoginStatus();
    var resetPasswordModel = new JobsplusUmbraco.Models.ResetPasswordModel();
    resetPasswordModel.RedirectUrl = redirectUrl;

    var success = TempData["PasswordResetSuccess"] != null;


    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}
@Html.RenderJsHere()
<div class="content"><br />
    <h2 class="violet-color uppercase">Obnovení hesla</h2><br />
    <p>Pro obnovení hesla zadejte email k vašemu účtu, my Vám vygenerujeme dočasné heslo a zašleme jej na uvedený email.<br />S dalším přihlášením budete vyzvání k nastavení nového hesla.</p><br />
    @if (!loginStatusModel.IsLoggedIn)
    {

        if (!success)
        {
            using (Html.BeginUmbracoForm<ResetPasswordController>("HandleResetPassword"))
            {
                if (ViewData.ModelState.Values.Any(ms => ms.Errors.Count >= 1))
                {
                    <div class="col-md-10">
                        <div class="alert alert-danger" role="alert">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> &nbsp;
                                    Ajaj, něco nám ještě chybí:
                                </div>
                            </div>
                            <div class="row">
                                <br />
                                <div class="col-md-12">
                                    @Html.ValidationSummary("resetPassword", true)
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(m => resetPasswordModel.Email, "E-mail (přihlašovací jméno)")
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => resetPasswordModel.Email, new { @class = "form-control", placeholder = "Email" })
                    </div>
                    @Html.ValidationMessageFor(m => resetPasswordModel.Email)
                </div>
                @Html.HiddenFor(m => resetPasswordModel.RedirectUrl)
                <div class="col-md-3">
                    <button class="btn btn-default violet">Potvrdit</button>
                </div>
            }
        }
        else
        {
            <h3>Potvrzeno!</h3>
            <p>Heslo by úspěšně obnoveno, zkontrolujte si prosím Vaši emailovou schránku.</p>
        }
    }
    else
    {
    <div>
        <div class="well">
            <p>Vidíme, že jste již přihlášen(a) jako <b>@loginStatusModel.Name</b>. Pokud neznáte své heslo, můžete si jej snadno změnit v dtailu vašeho účtu.</p><br />
            <div class="row">
                <div class="col-md-12">
                    @{
                        var roles = Roles.GetRolesForUser(loginStatusModel.Username);
                    }
                    @if (roles.Count() > 0)
                    {
                        <p>Váš účet má následující role:</p>
                        <ul>
                            @foreach (var role in roles)
                            {
                            <li>@role</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>Nemáte přiřazeny žádné role.</p>
                    }
                </div>
                <div class="col-md-12 text-right">
                @using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout"))
                {
                    <button class="btn btn-default gray" style="float:right; margin-left: 5px">Odhlásit</button>
                    @Html.HiddenFor(m => Model.Content.Url)
                }
                @if (roles.Contains("Zájemce o práci"))
                {
                    <a href="/uzivatel/" class="btn btn-default violet">Můj profil</a>
                }
                @if (roles.Contains("Správce firmy"))
                {
                     <a href="/firma/" class="btn btn-default violet">V.I.P. zóna</a>
                }
                </div>
            </div>
        </div>
    </div>
    }
</div>