@inherits Umbraco.Web.Mvc.UmbracoViewPage<MemberCandidate>
@using JobsplusUmbraco.Models
<br />
<div class="row">
    <div class="col-md-2">
        <h2 class="violet-color">Registrace</h2>
    </div>
    <div class="col-md-10">
        @if (TempData["RegisterCandidateIsSuccess"] != null && (bool)TempData["RegisterCandidateIsSuccess"] == true)
        {
            <div class="row">
                <h2>Registrace proběhla úspěšně!</h2><br />
                <h4>Od teď se můžete využívat všech možností portálu jobsplus.cz naplno....</h4><br /><br />
                <p>
                    Děkujeme, že jste se registrovali na náš portál pracovních příležitostí. Věříme že s naší pomocí se
                    Vám brzy podaří nalézt vhodné zaměstnání!
                </p><br />
                <p>
                    Pro přihlášení použijte Váš emailový účet @TempData["Email"] a zvolené heslo.
                </p><br /><br />
                <p>
                    <a href="/vip-vstup/prihlasit/" class="btn btn-default gray">Přihlásit se</a>
                    <a href="/" class="btn btn-default violet">Na úvodní stránku</a>
                </p><br />
                <p>
                    <a href="/vip-vstup/registrace/" class="violet-color">Nová registrace</a>
                </p>
            </div>
        }
        else
        {
            if (ViewData.ModelState.Values.Any(ms => ms.Errors.Count >= 1))
            {
                <div class="alert alert-danger" role="alert">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> &nbsp;
                            Ajaj, něco nám ještě chybí:
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-md-12">
                            @Html.ValidationSummary(false)
                            @TempData["ValidationErrorInfo"]
                        </div>
                    </div>
                </div>
            }

            using (Html.BeginUmbracoForm<JobsplusUmbraco.Controllers.RegisterCandidateController>("RegisterCandidateSubmit", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <h3>Přihlašovací údaje</h3>
                </div><br />
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class=" input-group date" id="loginEmail">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Přihlašovací jméno (e-mail)" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control col-mb-6", placeholder = "Heslo" })
                    </div>
                </div><br />
                <div class="row">
                    <h3>Něco málo o Vás...</h3>
                </div><br />
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control col-mb-6", placeholder = "Jméno" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control col-mb-6", placeholder = "Příjmení" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <div class="input-group date" id="birthDate">
                            @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control", placeholder = "Datum narození" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <div class="input-group date" id="phone">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Telefon" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="checkbox col-md-12">
                        <label>
                            @Html.CheckBoxFor(m => m.RegistrationUP, new { @class = "RegistrationUP" })
                            @Html.DisplayNameFor(m => m.RegistrationUP)
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <div class="input-group date" id="registrationUPFrom">
                            @Html.TextBoxFor(m => m.RegistrationUPFrom, new { @class = "form-control", placeholder = "Den registrace" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        @Html.TextBoxFor(m => m.Town, new { @class = "form-control col-mb-12", placeholder = "Město, pod něž spadá Váš úřad práce" })
                    </div>
                </div><br />
                <div class="row">
                    <h3>Životopis</h3>
                    <p>Zde můžete nahrát Vás životopis. Pokud jej aktuálně nemůžete nahrát, nevadí. Životopis je možné nahrát <br />kdykoliv ve Vašem profilu po založení účtu.</p>
                </div><br />
                <div class="row">
                    <div class="form-group col-md-4">
                        <input type="file" name="cv" placeholder="Životopis" />
                    </div>
                </div><br />
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="input-group date" id="comments" style="width: 100%">
                            @Html.TextAreaFor(m => m.Comments, new { @class = "form-control", placeholder = "Poznámky", rows = 5, style = "width:100%" })
                        </div>
                    </div>
                </div><br />
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.CheckBoxFor(m => m.Confirm, new { @class = "Confirm" })
                        <label for="Confirm">souhlasím se zpracováním osobních údajů, <a href="/clanky/obchodni-podminky/" target="_blank">obchodní podmínkami</a> a <a href="/clanky/podminky-uziti/" target="_blank">podmínky užití</a></label>
                    </div>
                </div>
                <div class="row">
                    <button id="RegisterCandidateFormSubmit" type="submit" class="btn btn-default violet">Zaregistrovat</button>
                </div>
            }

            <script type="text/javascript">
                $(function () {
                    var d = new Date();

                    var month = d.getMonth() + 1;
                    var day = d.getDate();

                    var datenow = d.getFullYear() + '/' +
                        (month < 10 ? '0' : '') + month + '/' +
                        (day < 10 ? '0' : '') + day;

                    $('#birthDate').datetimepicker({
                        viewMode: 'years',
                        format: 'DD.MM.YYYY',
                        locale: 'cs'
                    });
                    $('#registrationUPFrom').datetimepicker({
                        format: 'DD.MM.YYYY',
                        locale: 'cs',
                        minDate: '1930/1/1',
                        maxDate: datenow
                    });
                });
            </script>
        }
    </div>
</div>
